# Кастомный конфиг с использованием RU Zone согласно спискам https://github.com/hydraponique/roscomvpn-routing
# Преднастройки
mixed-port: 7890
allow-lan: false
lan-allowed-ips: # Разрешенные IP для подключения к LAN
  - 127.0.0.0/8
  - 10.0.0.0/8
  - 172.16.0.0/12
  - 192.168.0.0/16
  - ::1/128
  - fc00::/7
mode: rule
log-level: silent
ipv6: false
keep-alive-interval: 30
find-process-mode: strict
unified-delay: true
tcp-concurrent: true

profile:
  store-selected: true
  store-fake-ip: true

sniffer:
  enable: true
  parse-pure-ip: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
      override-destination: true
    TLS:
      ports: [443, 8443]
  skip-dst-address:
    - 0.0.0.0/8
    - 10.0.0.0/8
    - 100.64.0.0/10
    - 127.0.0.0/8
    - 169.254.0.0/16
    - 172.16.0.0/12
    - 192.0.0.0/24
    - 192.0.2.0/24
    - 192.88.99.0/24
    - 192.168.0.0/16
    - 198.51.100.0/24
    - 203.0.113.0/24
    - 224.0.0.0/3
    - ::/127
    - fc00::/7
    - fe80::/10
    - ff00::/8

tun:
  enable: true
  stack: mixed
  auto-route: true
  auto-detect-interface: true
  dns-hijack:
    - any:53
  strict-route: true

dns:
  enable: true
  prefer-h3: false
  use-hosts: true
  use-system-hosts: true
  ipv6: false
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter-mode: blacklist
  fake-ip-filter:
    - rule-set:geosite-private
  default-nameserver:
    - 1.1.1.1
    - 8.8.8.8
  nameserver:
    - https://cloudflare-dns.com/dns-query#GLOBAL VPN
    - https://dns.google/dns-query#GLOBAL VPN
    - tls://1.1.1.1#GLOBAL VPN
    - tls://8.8.8.8#GLOBAL VPN
  proxy-server-nameserver:
    - https://cloudflare-dns.com/dns-query
    - https://dns.google/dns-query
    - tls://1.1.1.1
    - tls://8.8.8.8
  direct-nameserver:
    - https://common.dot.dns.yandex.net
    - tls://77.88.8.8

proxies: #LEAVE THIS LINE

# Селекторы
proxy-groups:
  - name: GLOBAL VPN
    type: select
    icon: https://cdn.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Hijacking.png
    proxies: # LEAVE THIS LINE!

  - name: ♻️ Без VPN
    remnawave:
      include-proxies: false
    type: select
    hidden: true
    proxies: [DIRECT]

  - name: Games
    type: select
    icon: https://cdn.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Game.png
    proxies: [♻️ Без VPN]

# Правила маршрутизации
rule-anchors:
  domain: &domain { type: http, format: mrs, behavior: domain, interval: 86400 }
  ip: &ipcidr { type: http, format: mrs, behavior: ipcidr, interval: 86400 }
  ip-text: &ipcidr-text { type: http, format: text, behavior: ipcidr, interval: 86400 }
  classical: &classical { type: http, format: text, behavior: classical, interval: 86400 }
  classical-yaml: &classical-yaml { type: http, format: yaml, behavior: classical, interval 86400}
  inline: &inline { type: inline, behavior: classical }

rule-providers:

  # Локальная сеть
  geosite-private: { <<: *domain, url: https://raw.githubusercontent.com/hydraponique/roscomvpn-geosite/release/mihomo/private.mrs }
  geoip-private: {<<: *ipcidr, url: https://raw.githubusercontent.com/hydraponique/roscomvpn-geoip/release/mihomo/private.mrs }

  # RU зона
  geosite-ru: { <<: *domain, url: https://raw.githubusercontent.com/hydraponique/roscomvpn-geosite/release/mihomo/category-ru.mrs }
  geoip-ru: { <<: *ipcidr, url: https://raw.githubusercontent.com/hydraponique/roscomvpn-geoip/release/mihomo/direct.mrs }
  geoip-kz: { <<: *ipcidr, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geoip/kz.mrs}

  # Реклама
  adlist-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/category-ads-all.mrs }
  winspy-geosite: { <<: *domain, url: https://github.com/hydraponique/roscomvpn-geosite/raw/master/release/mihomo/win-spy.mrs }
  
  # Выборочные сервисы
  apple-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/apple.mrs }
  google-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/google.mrs }
  googleplay-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/google-play.mrs }
  microsoft-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/microsoft.mrs }
  youtube-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/youtube.mrs }

  # Игровые сервисы
  steam-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/steam.mrs }
  origin-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/origin.mrs }
  ea-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/ea.mrs }
  epicgames-geosite: { <<: *domain, url: https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/epicgames.mrs }
  games-process: { <<: *classical-yaml, url: https://github.com/legiz-ru/mihomo-rule-sets/raw/main/other/games-direct.yaml }

  # Другие сервисы
  torrent-clients: { <<: *classical-yaml, url: https://github.com/legiz-ru/mihomo-rule-sets/raw/main/other/torrent-clients.yaml }
  torrent-trackers: { <<: *domain, url: https://github.com/legiz-ru/mihomo-rule-sets/raw/main/other/torrent-trackers.mrs }

  # Ручные списки в DIRECT
  direct-inline:
    type: inline
    behavior: classical
    payload: #Типы правил: https://wiki.metacubex.one/ru/config/rules/
      - DOMAIN-SUFFIX,kz
      - DOMAIN-SUFFIX,2ip.io #Мусорный сервис сотрудничащий с РФ
  
  # Ручные списки в VPN
  proxy-inline:
    type: inline
    behavior: classical
    payload: #Типы правил: https://wiki.metacubex.one/ru/config/rules/
      - DOMAIN-KEYWORD,rezka #Rezka.ag и любые ее проявления
      - DOMAIN-KEYWORD,voidboost #Rezka.ag CDN сервера с фильмами

# Правила
rules:
  # Блокировки в REJECT
  - AND,((NETWORK,udp),(DST-PORT,443)),REJECT-DROP #Блокировка QUIC
  - AND,((NETWORK,udp),(DST-PORT,853)),REJECT-DROP #Блокировка QUIC DNS
  - OR,((RULE-SET,adlist-geosite),(RULE-SET,winspy-geosite)),REJECT-DROP #Блокировка рекламы

  # Локальная сеть в DIRECT
  - OR,((RULE-SET,geosite-private),(RULE-SET,geoip-private,no-resolve)),DIRECT

  # Ручные списки в VPN
  - RULE-SET,proxy-inline,GLOBAL VPN
  
  # Ручные списки в DIRECT
  - RULE-SET,direct-inline,♻️ Без VPN
  
  # Выборочные сервисы
  - RULE-SET,apple-geosite,♻️ Без VPN
  - RULE-SET,youtube-geosite,GLOBAL VPN
  - RULE-SET,googleplay-geosite,♻️ Без VPN
  - RULE-SET,google-geosite,♻️ Без VPN
  - RULE-SET,microsoft-geosite,♻️ Без VPN

  # Games
  - RULE-SET,games-process,Games
  - RULE-SET,steam-geosite,♻️ Без VPN
  - OR,((RULE-SET,origin-geosite),(RULE-SET,ea-geosite)),♻️ Без VPN
  - RULE-SET,epicgames-geosite,♻️ Без VPN
  
  # Torrents в DIRECT
  - OR,((RULE-SET,torrent-clients),(RULE-SET,torrent-trackers)),♻️ Без VPN
  
  # RU zone
  - OR,((RULE-SET,geosite-ru),(RULE-SET,geoip-ru),(RULE-SET,geoip-kz)),♻️ Без VPN
  
  # Все остальное в PROXY
  - MATCH,GLOBAL VPN
